:ROOT{
    --primary-color:#c53132;
    --secondary-color:black;
    --ternary-color:white;
    }
    .primary-color{
        color: var(--primary-color);
    }
    .primary-background{
        background-color: var(--primary-color);
    }
    .secondary-color{
        color: var(--secondary-color);
    }
    .secondary-background{
        background-color: var(--secondary-color);
    }
    .ternary-color{
        color: var(--ternary-color);
    }
    .ternary-background{
        background-color: var(--ternary-color);
    }
    .circle{
        border-radius: 50%;
        padding:8px;
        background-color: var(--secondary-color);
        color: var(--ternary-color);
    }